<%= form_for(@habit) do |f| %>
  <% if @habit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
      <% @habit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :habit_title %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_field :habit_description %>
  </div>
  <div class="field">
    <%= f.label :Total_Practised_Days %><br>
    <%= f.text_field :days_practised %>
  </div>
  <div class="field">
    <%= f.label :Longest_Streak %><br>
    <%= f.text_field :practise_streak %>
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.check_box :habit_done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
