<p id="notice"><%= notice %></p>

<p>
  <strong>Category :   </strong>
  <%= @habit.habit_category %>
</p>

<p>
  <strong>Title :   </strong>
  <%= @habit.habit_title %>
</p>

<p>
  <strong>Description :   </strong>
  <%= @habit.habit_description %>
</p>

<p>
  <strong>Duration :   </strong>
  <%= @habit.habit_duration %>
</p>

<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', root_url %>
